html,body {
	background: #CCCCCC;
	margin: 0;
	padding: 0;
	overflow:hidden;
}

/* Z-index of #mask must lower than #boxes .window */
#mask {
  position:absolute;
  z-index:9000;
  background-color:#000;
  display:none;
}
   
#boxes .window {
  position:absolute;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}


/* Dialog Styles */
#boxes #dialog {
	width:375px; 
	height:203px;
	background-color:#fff;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#boxes #saveLoad {
	-moz-border-radius: 15px;
	border-radius: 15px;
}

boxes #tilePallet {
	width:200px; 
	height:400px;
	background-color:#ffffcc;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
