html,body {
	background: #CCCCCC;
	margin: 0;
	padding: 0;
	overflow:hidden;
}

/* Z-index of #mask must lower than #boxes .window */
#mask {
  position:absolute;
  z-index:9000;
  background-color:#000;
  display:none;
}
   
#boxes .window {
  position:absolute;
  width:440px;
  height:200px;
  display:none;
  z-index:50;
  padding:20px;
}


/* Dialog Styles */
#boxes #dialog {
	width:375px; 
	height:203px;
	background-color:#fff;
	
}

#boxes #saveLoad {
	-moz-border-radius: 15px;
	border-radius: 15px;
	font-family:sans-serif;
}

boxes #tilePallet {
	width:200px; 
	height:400px;
	background-color:#ffffcc;
	
}

#saveLoad #file-title {
	text-align: center;
}

UL.tabNavigation {
	list-style: none;
	margin: 0;
	padding: 0;
}

UL.tabNavigation LI {
	display: inline;
}

UL.tabNavigation LI A {
	padding: 3px 5px;
	background-color: #ccc;
	color: #000;
	text-decoration: none;
}

UL.tabNavigation LI A.selected,
UL.tabNavigation LI A:hover {
	background-color: #333;
	color: #fff;
	padding-top: 7px;
}

UL.tabNavigation LI A:focus {
		outline: 0;
}

div.tabs > div {
		padding: 5px;
		margin-top: 3px;
		border: 2px solid #333;
}

div.tabs > div h2 {
		margin-top: 0;
}
